# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

full_dataset = pd.read_csv('./jeopardy.csv')
full_dataset.rename((lambda s: '_'.join(s.lower().split())), axis='columns', inplace=True)
full_dataset

,show_number,air_date,round,category,value,question,answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams
...,...,...,...,...,...,...,...
216925,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,$2000,This Puccini opera turns on the solution to 3 riddles posed by the heroine,Turandot
216926,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",$2000,"In North America this term is properly applied to only 4 species that are crested, including the tufted",a titmouse
216927,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$2000,"In Penny Lane, where this ""Hellraiser"" grew up, the barber shaves another customer--then flays him alive!",Clive Barker
216928,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,$2000,"From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return""",Geronimo
216929,4999,2006-05-11,Final Jeopardy!,HISTORIC NAMES,None,A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great,Grigori Alexandrovich Potemkin

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [2]:
def search_questions(search_list, dataset):
    all_words = lambda s: all(word in s for word in search_list)
    matches = dataset[dataset.question.apply(all_words)]
    return matches

word_list = ['cat', 'ship']
word_matches = search_questions(word_list, full_dataset)
word_matches

,show_number,air_date,round,category,value,question,answer
1516,5392,2008-02-05,Jeopardy!,THE TITANIC,$1000,"The ship was so big, communication was by telegraph from this navigating area to the engine room",the bridge
12110,5880,2010-03-19,Double Jeopardy!,"WHAT'S UP, ""DOC""?",$1200,8-letter word for a waterfront location where ships are built & repaired,a dockyard
12571,4798,2005-06-15,Jeopardy!,THE DREADED OPRAH CATEGORY,$800,Educator Oprah taught a graduate course on leadership at this university based in Evanston,Northwestern University
14495,5757,2009-09-29,Jeopardy!,PRESIDENTIAL FACEBOOK PAGES,$400,"Education and Work: Secretary of State, Minister to U.K.; Relationship Status: Single",Buchanan
19905,6025,2010-11-19,Double Jeopardy!,FRENCH NOVELISTS,$800,"Louise Colet's 1859 novel ""Lui"" was a scathing account of her relationship with this ""Madame Bovary"" author",(Gustave) Flaubert
29170,5605,2009-01-09,Double Jeopardy!,THE VIKING SHIP MUSEUM,$1200,"A ""side scan"" type of this helps the museum locate old shipwrecks; sound waves are emitted & bounce back with results",sonar
39138,5032,2006-06-27,Double Jeopardy!,JAPAN-U.S. RELATIONS,$2000,"1992 was a year of some tension in the relationship, symbolized by the publication of this man's novel ""Rising Sun""",Michael Crichton
39811,4825,2005-07-22,Jeopardy!,HERO SANDWICH,$400,"For his leadership that resulted in final victory, General Ulysses S. Grant was known as ""The Hero of"" this location",Appomattox
49114,4158,2002-10-02,Double Jeopardy!,IF YOU BUILD IT...,$800,"A memorial dedicated in 1962 was built over this battleship sunk on December 7, 1941",U S S Arizona
52056,6204,2011-07-28,Double Jeopardy!,THE OLD WEST,$1600,"In 1867 Joseph McCoy set up a shipping yard in Abilene, Kansas to hold Texas cattle arriving on this trail",the Chisholm Trail
63254,2820,1996-11-29,Final Jeopardy!,U.S. CITIES,None,"Designed locally & cast in Japan, a peace & friendship bell was dedicated in this Tennessee city in 1996",Oak Ridge
68631,4653,2004-11-24,Jeopardy!,"TAKE ME HOME, ALEX",$600,"Prefabricated & shipped by steamboat to Hannibal, Mo., Pilaster House is a childhood home of this author",Mark Twain
71119,6005,2010-10-22,Double Jeopardy!,TALKING REAL ESTATE,$2000,It's the joint ownership of a vacation property by several persons with each occupying it for short periods,a timeshare
100148,6063,2011-01-12,Double Jeopardy!,HISTORIC SHIPS,$1600,"Captured <a href=""http://www.j-archive.com/media/2011-01-12_DJ_23.jpg"" target=""_blank"">here</a> in National Geographic footage is this sunken German battleship, located in 1989",the Bismarck
100422,311,1985-11-18,Jeopardy!,HOMOPHONES,$400,"Vacationing on a ship, or people that staff them",cruise/crews
101301,5362,2007-12-25,Double Jeopardy!,BOOK DEDICATIONS,$400,"Appropriately, he dedicated ""Our Mutual Friend"" to Sir James Emerson Tennent, ""as a memorial of friendship""",Dickens
103041,3932,2001-10-09,Double Jeopardy!,McGRAW-HILL,$800,Tim & Faith kindled their relationship during this 1995 concert tour; it also means to catch fire without an outside source,"""Spontaneous Combustion"""
103363,2780,1996-10-04,Jeopardy!,FAMOUS SHIPS,$300,The Pearl Harbor memorial built above this sunken battleship was dedicated in 1962,the Arizona
108324,6083,2011-02-09,Jeopardy!,NONCE WORDS,$200,"If the captain says the ship needs some swabification, you'd better find this 3-letter long-handled item",a mop
121333,6234,2011-10-27,Jeopardy!,MYTHBUSTERS,$800,"(<a href=""http://www.j-archive.com/media/2011-10-27_J_29.wmv"">The Mythbusters deliver the clue.</a>) 500 mirrors reflected the sun's rays on a ship's sail which got hot, but failed to catch fire; at President Obama's request we were testing a method invented by this ancient Greek mathematician",Archimedes
125974,4886,2005-12-05,Double Jeopardy!,AUTHOR! AUTHOR!,$400,"""Wilhelm Meister's Apprenticeship"" is a Bildungsroman, or novel of education, by this ""Faust"" author",Goethe
128370,2779,1996-10-03,Double Jeopardy!,WORLD GEOGRAPHY,$200,This capital is located at the head of ship navigation on the Seine River,Paris
132055,5247,2007-06-05,Double Jeopardy!,EUROPEAN HISTORY,$800,In 1588 a storm from this bay scattered the Spanish Armada's wooden ships as they prepared to attack England,Bay of Biscay
136886,4271,2003-03-10,Double Jeopardy!,"""GOOD"" STUFF",$800,"You might catch a glimpse of the doomed ship ""The Flying Dutchman"" off this African cape",Cape of Good Hope
141437,3858,2001-05-16,Jeopardy!,HOMINA HOMINA HOMONYMS,$300,"A type of vacation on a ship, or a type of missile",Cruise
146847,6280,2011-12-30,Double Jeopardy!,ON DECK,$2000,"As its name indicates, this 3-letter deck on old warships had cannons end to end",the gun deck
153952,4334,2003-06-05,Double Jeopardy!,WILD CATS,$2000,Pre-Columbian civilizations in Mexico & Central America worshiped this largest New World cat as a god,jaguar
182310,3568,2000-02-23,Double Jeopardy!,HOUSES OF THE HOLY,$600,"The USA's oldest existing Jewish house of worship is the Touro Synagogue, located in this Rhode Island city",Newport
189740,5376,2008-01-14,Jeopardy!,AMPHIBIOUS INVASIONS,$600,"Supported by catapults mounted on the invasion ships, he landed 2 legions of soldiers near Dover in 55 B.C.",Julius Caesar
191390,5213,2007-04-18,Double Jeopardy!,LET'S GO SHOPPING,$1600,"(<a href=""http://www.j-archive.com/media/2007-04-18_DJ_24.jpg"" target=""_blank"">I'm Carson Kressley from <i>Queer Eye for the Straight Guy</i>.</a>) I've helped create catalogs for major retailers like this one whose yummy flagship store is at 59th & Lex",Bloomingdale's
210312,4178,2002-10-30,Jeopardy!,CONTESTS,$200,"Brisket, chicken & pork spare ribs are categories in Houston's world championship contest in this",barbeque
216377,3919,2001-09-20,Double Jeopardy!,"""D"" TOUR",$800,"A shipping point for agriculture, this eastern Iowa city is located on the Mississippi River across from Rock Island",Davenport

In [3]:
len(word_matches)

32

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [6]:
def search_questions(search_list, dataset):
    search_list = [ f" {word.lower()} " for word in search_list]
    all_words = lambda s: all(word in s.lower() for word in search_list)
    matches = dataset[dataset.question.apply(all_words)]
    return matches

word_list = ['King', 'England']
word_matches = search_questions(word_list, full_dataset)
word_matches

,show_number,air_date,round,category,value,question,answer
6337,3517,1999-12-14,Double Jeopardy!,Y1K,$800,"In retaliation for Viking raids, this ""Unready"" king of England attacks Norse areas of the Isle of Man",Ethelred
9191,3907,2001-09-04,Double Jeopardy!,WON THE BATTLE,$800,This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt,Henry V
13454,4726,2005-03-07,Jeopardy!,A NUMBER FROM 1 TO 10,$1000,It's the number that followed the last king of England named William,4
18076,3227,1998-09-22,Double Jeopardy!,WORLD HISTORY,$1000,In 1199 this crusader king of England was mortally wounded while besieging the castle of Chalus,Richard the Lionhearted
19168,3109,1998-02-19,Jeopardy!,HISTORIC WORLD LEADERS,$300,"He was the only king of England to have ""The Great"" tacked on to his name",Alfred
21511,4650,2004-11-19,Jeopardy!,"THE ""O.C.""",$1000,this man and his son ruled England following the execution of King Charles I,Oliver Cromwell
23810,4862,2005-11-01,Jeopardy!,NAME THE YEAR,$400,William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year,1066
23979,4664,2004-12-09,Double Jeopardy!,MEDIEVAL TIMES,$2000,"This ""unready"" king of England lost most of his country to Sven Forkbeard, the king of Denmark",Aethelred the Unready
26780,2118,1993-11-17,Double Jeopardy!,THE MIDDLE AGES,"$1,200",This king of England was killed by a Norman arrow at the Battle of Hastings,Harold II
33174,1333,1990-05-23,Jeopardy!,THE CRUSADES,$200,This king of England was a leader of the Third Crusade,Richard I (Richard the Lionhearted)
49994,5499,2008-07-03,Jeopardy!,REIGN DROPS,$1000,"Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553",Edward VI
57479,4299,2003-04-17,Jeopardy!,FACTS & FIGURES,$800,He was the last of the 3 men who were king of England during 1066,William the Conqueror
58949,6250,2011-11-18,Double Jeopardy!,ASSUME THE POSITION,$2000,He became King of England in 1399 after forcing his cousin Richard II from the throne,Henry IV
66520,5626,2009-02-09,Jeopardy!,THE FIRST MILLENNIUM A.D.,$1000,"This king called ""the Great"" beat the Danes in 886 to keep all of England from being conquered",Alfred
72582,2754,1996-07-18,Double Jeopardy!,ROYALTY,$400,This current king of Jordan received part of his education in England at Harrow & Sandhurst,King Hussein
77195,3656,2000-06-26,Jeopardy!,JUNE 26,$400,"He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field",Richard III
78510,3169,1998-05-14,Double Jeopardy!,A LONG TIME AGO,$800,"Henry II, who succeeded Stephen as king of England in 1154, was the first monarch from this ""house""",Plantagenet
82525,2251,1994-05-23,Double Jeopardy!,BRITISH HISTORY,"$1,000","The ""rump"" parliament wanted him to be the last king England would ever name",Charles I
86412,1837,1992-09-08,Double Jeopardy!,ROYALTY,$400,This country's King Olaf V was born in England & was the grandson of King Edward VII,Norway
89710,5390,2008-02-01,Double Jeopardy!,"""CAN""NED WORDS",$1600,This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign,Canute
90084,4871,2005-11-14,Jeopardy!,THAT'S MY ROYAL NICKNAME,$400,"He was ""the Confessor"" king of England in the 11th century",Edward
94425,3868,2001-05-30,Double Jeopardy!,THE KINGS OF ENGLAND,$200,From 1714 to 1830 every king of England had this name,George
95019,3662,2000-07-04,Double Jeopardy!,CELEBRATING THE IV,$400,"Regent for his predecessor from 1811 to 1820, he was king of England on his own from 1820 to 1830",George IV
103704,2857,1997-01-21,Double Jeopardy!,RULERS,$1000,This king of England was the grandfather of Elizabeth I,Henry VII
115727,2585,1995-11-24,Double Jeopardy!,WORLD HISTORY,$1000,"In 1191, Berengaria married this king of England in Limassol, Cyprus",Richard the Lionheart
118809,1905,1992-12-11,Jeopardy!,KINGS & QUEENS,$300,In French this King of England is called Guillaume le Conquerant,William the Conqueror
127484,1325,1990-05-11,Double Jeopardy!,MEDIEVAL PEOPLE,$600,Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country,Denmark
127758,6021,2010-11-15,Jeopardy!,STATE FACTS,$600,This state was named for the King of England who reigned from 1727 to 1760,Georgia
137818,3368,1999-04-07,Jeopardy!,PEOPLE IN HISTORY,$400,The last King William to rule England had this number after his name,IV
140080,3020,1997-10-17,Jeopardy!,WORLD HISTORY,$200,"In 1191 this ""Lion-Hearted"" king of England captured Cyprus & Acre during the Crusades",Richard I
140941,5557,2008-11-04,Double Jeopardy!,FOREIGN-BORN LEADERS,$2000,Dutch-born Protestant Prince William of Orange became king of England after this Catholic king was deposed & fled,James II
148910,3527,1999-12-28,Double Jeopardy!,THE CRUSADES,$200,"On his way back from failing to take Jerusalem in 1192, this king of England was captured & later ransomed",Richard the Lionhearted
150622,1150,1989-09-08,Double Jeopardy!,BRITISH ROYALTY,$200,The only king of England named Stephen was the grandson of this conqueror,William the Conqueror
150880,4790,2005-06-03,Double Jeopardy!,20th CENTURY BRITISH HISTORY,$1200,"During Stanley Baldwin's term as P.M., this King of England abdicated",King Edward VIII
151335,4289,2003-04-03,Jeopardy!,LOTTO FEVER,$1000,"2000 saw a fight in England over running the lottery, with this Virgin king at the forefeont",Richard Branson
151746,314,1985-11-21,Jeopardy!,NURSERY RHYMES,$300,"Colchester, England was named for this legendary Celtic king immortalized in rhyme",Old King Cole
158120,4633,2004-10-27,Double Jeopardy!,POTENTATE POTABLES,$1200,"This Dutch-born English king introduced gin to England as the ""pouring spirit"" in the palace at Hampton Court",William III
159374,3789,2001-02-08,Double Jeopardy!,LONG LIVE THE KING!,"$1,500",A translation of the Bible is named for this king of England & Scotland,James (I)
159378,3789,2001-02-08,Double Jeopardy!,LONG LIVE THE KING!,$800,This king divorced the Church of England from the Catholic Church so that he could divorce the first of 6 wives,Henry VIII
167337,1312,1990-04-24,Double Jeopardy!,ROYALTY,"$2,000",The last Anglo-Saxon king of England was killed in this battle,Battle of Hastings (which Harold II lost)
174055,2143,1993-12-22,Double Jeopardy!,HISTORIC PEOPLE,$200,This conqueror was crowned King of England on Christmas Day 1066,William
175259,3055,1997-12-05,Double Jeopardy!,THE 1930s,$400,His short reign as King of England fell in in 1936,King Edward VIII
178590,3718,2000-11-01,Jeopardy!,HISTORY,$500,He succeeded Henry II as king of England in 1189 & was himself succeeded by John in 1199,Richard the Lionhearted
178921,4573,2004-06-23,Jeopardy!,RICHARD III,$200,Richard was crowned king of England at this place of worship,Westminster Abbey
186239,5339,2007-11-22,Double Jeopardy!,EUROPEAN HISTORY,$800,"He was King of England from 1189 to 1199 but spent only 6 months there; the rest of the time, he was off fighting",Richard the Lionheart
190102,4211,2002-12-16,Jeopardy!,THINK ABOUT IT,$800,The man who became king of England in 1066 was succeeded by this king in 1087,William II
191531,5911,2010-05-03,Double Jeopardy!,HE DIED A DEADLY DEATH,$400,"On Jan. 28, 1547, after a physical & mental decline, this king of England was (surprisingly) survived by his wife Catherine",Henry VIII
195099,3590,2000-03-24,Double Jeopardy!,ENGLISH MONARCHS,$600,"In 1714 the Prince of Hanover, who spoke little English, became king of England under this name",George I
200369,2937,1997-05-13,Jeopardy!,BRITISH HISTORY,$200,8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country,Wales
208742,4863,2005-11-02,Double Jeopardy!,BEFORE & AFTER,"$3,000",Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish,William of Orange roughy
216021,1881,1992-11-09,Double Jeopardy!,HISTORIC NAMES,$1000,"His nickname was ""Bertie"", but he used this name & number when he became king of England in 1901",Edward VII

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.